.well.sidebar-nav.forms
  .form-container
    %h2 Відправити інструкції ще раз

    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!

      .field
        = f.label :email
        = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)

      .actions
        = f.submit 'Відправити інструкції ще раз'

    = render 'users/shared/links'
